body {
  margin: 0;
  background-color: #F7EDDB;
  padding-top: 150px;
}

h1 {
  font-family: Fraunces;
  font-size: 1.7em;
  font-weight: bolder;
}

p {
  font-family: Montserrat;
  line-height: 1.5;
  color: grey;
  font-size: 0.8em;
}

img {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-top-left-radius: 4%;
  border-bottom-left-radius: 4%;
}

/*******************************Class selectors *****************************************************/
.button {
  display: inline-block;
  cursor: pointer;
  background-color: #5A8F7B;
  border-radius: 7px;
  padding: 14px 80px;
  border-color: transparent;
  position: relative;
  bottom: 5px;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
}

.button:hover {
background-color: #76BA99;
border-color: transparent;

}

.cart {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 50px;
  bottom: 15px;
  color: white;
}

.img-div {
  height: 470px;
  width: 310px;
  display: inline-block;
  border-top-left-radius: 4%;
  border-bottom-left-radius: 4%;
  position: absolute;
  left: 420px;
}

.PERFUME {
  letter-spacing: 4px;
  color: grey;
  font-size: small;
}

.price {
  color: #5A8F7B;
  display: inline-block;
  position: relative;
  bottom: 10px;
}

.reduced-price {
  display: inline-block;
  text-decoration: line-through;
  position: relative;
  bottom: 15px;
  left: 20px;
}

.text {
  background-color: white;
  height: 470px;
  width: 310px;
  position: absolute;
  left: 720px;
  text-align: left;
  border-bottom-right-radius: 4%;
  border-top-right-radius: 4%;
  font-size: large;
  box-sizing: border-box;
  padding: 20px 30px 20PX 35px;
}

.challenge {
  text-align: center;
}
